/*Hero Session*/
.hero{
position: absolute;
width: 1441px;
height: 650px;
left: 0px;
top: 0px;
}


.Rectangle-2 {
  width: 1440px;
  height: 650px;
  flex-grow: 0;
  margin: 0 0 65px;
  padding: 0 0 1px 111px;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar{
  /* navbar */

position: absolute;
width: 1200px;
height: 30px;
left: 120px;
top: 40px;
}

.navbar .logo{
  /* hilifik logo 2 */

position: absolute;
width: 85px;
height: 24px;
left: 120px;
top: 43px;

background: url();
}

.navbar .home{
  /* Home */

position: absolute;
width: 36px;
height: 18px;
left: 255px;
top: 46px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;

/* identical to box height */
/*properties*/
height: 18px;
width: 36px;
left: 255px;
top: 46px;
border-radius: nullpx;

/*typography*/
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;


}

.navbar .about{
  /* About */

position: absolute;
width: 36px;
height: 18px;
left: 336px;
top: 46px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;

/* identical to box height */

color: rgba(98, 98, 98, 0.7);

/*properties*/
height: 18px;
width: 36px;
left: 336px;
top: 46px;
border-radius: nullpx;

/*typography*/
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
background: #626262B2;


}

.navbar .blog{
  /* Blog */

position: absolute;
width: 26px;
height: 18px;
left: 417px;
top: 46px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;

/* identical to box height */

color: rgba(98, 98, 98, 0.7);

/*properties*/
height: 18px;
width: 26px;
left: 417px;
top: 46px;
border-radius: nullpx;

/*typography*/
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}

.navbar .btn{
  /* Frame 1 */

position: absolute;
width: 54px;
height: 30px;
left: 1266px;
top: 40px;

background: #143DCC;
border-radius: 5px;

background: #143DCC;

/*prperties*/
height: 30px;
width: 54px;
left: 1266px;
top: 40px;
border-radius: 5px;

}

.h3{
  /* Selamat Datang Di */

position: absolute;
width: 172px;
height: 27px;
left: 122px;
top: 149px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

/* identical to box height */

color: #022FC9;

/*pro*/
height: 27px;
width: 172px;
left: 122px;
top: 149px;
border-radius: nullpx;

/*typo*/
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

background: #022FC9; /*option*/


}

.h1{
  /* Sistem Vaksinasi Jakarta Barat-Tangerang */

position: absolute;
width: 688px;
height: 142px;
left: 120px;
top: 182px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 47px;
line-height: 70px;

color: #000000;

/*pro*/
height: 142px;
width: 688px;
left: 120px;
top: 182px;
border-radius: nullpx;

/*typo*/
font-family: Poppins;
font-size: 47px;
font-style: normal;
font-weight: 700;
line-height: 71px;
letter-spacing: 0em;
text-align: left;

}

.btn{
/* Frame 2 */

/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;

position: absolute;
width: 135px;
height: 43px;
left: 120px;
top: 388px;

background: #143DCC;
border-radius: 10px;

background: #143DCC; /*hex*/

/*pro*/
height: 43px;
width: 135px;
left: 120px;
top: 388px;
border-radius: 10px;
padding: 8px;

}

.hero .logo {
  /* Logo hero */

position: absolute;
width: 490px;
height: 493px;
left: 830px;
top: 121px;

/*pro*/
height: 493px;
width: 490px;
left: 830px;
top: 121px;
border-radius: 0px;

}
