/* Login */

.login{
    position: relative;
width: 1440px;
height: 900px;

background: #F2F2F2;

height: 900px;
width: 1440px;
left: 4676px;
top: -670px;
border-radius: 0px;


}

.login .logo{
    /* hilifik logo 3 */

position: absolute;
width: 85px;
height: 24px;
left: 781px;
top: 150px;

background: url();
}

.login .judul{
    /* Yuk Vaksin! */

position: absolute;
width: 160px;
height: 39px;
left: 781px;
top: 229px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 39px;

/* identical to box height */
text-align: center;

color: #152137;

height: 39px;
width: 160px;
left: 781px;
top: 229px;
border-radius: nullpx;

font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: center;

}

.login .form{
    /* form login */

position: absolute;
width: 539px;
height: 532px;
left: 781px;
top: 300px;

height: 532px;
width: 539px;
left: 781px;
top: 300px;
border-radius: [object Object]px;

}

.login .form .email{
    /* email */

position: absolute;
width: 382px;
height: 78px;
left: 860px;
top: 358px;

height: 78px;
width: 382px;
left: 860px;
top: 358px;
border-radius: 10px;

/* Email address */

position: absolute;
width: 106px;
height: 23px;
left: 861px;
top: 358px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;

/* identical to box height */
text-align: center;

color: #152137;

height: 23px;
width: 106px;
left: 861px;
top: 358px;
border-radius: nullpx;

font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: center;

/* Rectangle 44 */

position: absolute;
width: 382px;
height: 45px;
left: 860px;
top: 391px;

background: #E3E3E3;
border-radius: 10px;

height: 45px;
width: 382px;
left: 860px;
top: 391px;
border-radius: 10px;


}

.login .form .pass{
    /* pass */

position: absolute;
width: 382px;
height: 78px;
left: 860px;
top: 485px;

height: 78px;
width: 382px;
left: 860px;
top: 485px;
border-radius: 10px;

/* Password */

position: absolute;
width: 73px;
height: 23px;
left: 860px;
top: 485px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;

/* identical to box height */
text-align: center;

color: #152137;

height: 23px;
width: 73px;
left: 860px;
top: 485px;
border-radius: nullpx;

font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: center;

/* Rectangle 46 */

position: absolute;
width: 382px;
height: 45px;
left: 860px;
top: 518px;

background: #E3E3E3;
border-radius: 10px;

height: 45px;
width: 382px;
left: 860px;
top: 518px;
border-radius: 10px;

}

.form .warning{
   /* Lupa Password */

position: absolute;
width: 90px;
height: 18px;
left: 1152px;
top: 573px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;

/* identical to box height */
text-align: center;

color: #A7A7A7;

height: 18px;
width: 90px;
left: 1152px;
top: 573px;
border-radius: nullpx;

font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;


}

.form .btn-login{
    /* Frame 3 */

/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;

position: absolute;
width: 112px;
height: 43px;
left: 995px;
top: 618px;

background: #143DCC;
border-radius: 10px;

height: 43px;
width: 112px;
left: 995px;
top: 618px;
border-radius: 10px;
padding: 8px;

/* Login */

position: static;
width: 50px;
height: 27px;
left: 31px;
top: 8px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;

/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

height: 27px;
width: 50px;
left: 31px;
top: 8px;
border-radius: nullpx;

font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: center;

}

.form .btn-daftar{
    /* Frame 4 */

/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;

position: absolute;
width: 112px;
height: 43px;
left: 995px;
top: 676px;

border: 1px solid #E3E3E3;
box-sizing: border-box;
border-radius: 10px;

height: 43px;
width: 112px;
left: 995px;
top: 676px;
border-radius: 10px;
padding: 8px;

border: 1px solid #E3E3E3
}